[Desktop Entry]
Type=Application
Name=__mpv
Icon=mpv

Exec=bash -c "$HOME/.local/script/mpv.sh"
Terminal=true

Actions=paste;

[Desktop Action paste]
Name=paste
Exec=bash -c "$HOME/.local/script/mpv.sh paste"
Terminal=true
